/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; ---- > DICA DO WESLLEY P IMPORTAR O BOOTSTRAP TAMBÉM */

body,html {
    animation: gradient 10s ease infinite;
    background: linear-gradient(-45deg,#f8f8f8, #BA68C8,#6A82FB) no-repeat;
    height: 100%;
}

#img-body{
    margin-top: 50vh;
    margin-left: 150vh;
}

h2{
    text-align: center;
    color: #282828;
    text-transform: lowercase;
}

/* ANIMAÇÃO CSS GRADIENTE */
/* @keyframes gradient{
0% {
    background-position: 0 50%;
}
50% {
    background-position: 100% 50%;
}    
100%{
    background-position: 0 50%;
}
} */